somewhere/data/_mdb_catalog.wt
somewhere/data/collection-0--7082770281994351694.wt
somewhere/data/collection-0-5458879864537082248.wt
somewhere/data/collection-2--7082770281994351694.wt
somewhere/data/collection-2-5458879864537082248.wt
somewhere/data/collection-4-5458879864537082248.wt
somewhere/data/collection-7-5458879864537082248.wt
somewhere/data/index-1--7082770281994351694.wt
somewhere/data/index-1-5458879864537082248.wt
somewhere/data/index-3--7082770281994351694.wt
somewhere/data/index-3-5458879864537082248.wt
somewhere/data/index-5-5458879864537082248.wt
somewhere/data/index-6-5458879864537082248.wt
somewhere/data/index-8-5458879864537082248.wt
somewhere/data/index-9-5458879864537082248.wt
somewhere/data/mongod.lock
somewhere/data/sizeStorer.wt
somewhere/data/storage.bson
somewhere/data/WiredTiger
somewhere/data/WiredTiger.lock
somewhere/data/WiredTiger.turtle
somewhere/data/WiredTiger.wt
somewhere/data/WiredTigerHS.wt
somewhere/data/.mongodb/mongosh/642d20f7ec2211856365cd79_log
somewhere/data/.mongodb/mongosh/642d20f9ff84461da27eeb48_log
somewhere/data/.mongodb/mongosh/config
somewhere/data/.mongodb/mongosh/mongosh_repl_history
somewhere/data/.mongodb/mongosh/snippets/package.json
somewhere/data/diagnostic.data/metrics.2023-04-05T07-19-18Z-00000
somewhere/data/diagnostic.data/metrics.2023-04-05T07-19-47Z-00000
somewhere/data/journal/WiredTigerLog.0000000002
somewhere/data/journal/WiredTigerPreplog.0000000001
somewhere/data/journal/WiredTigerPreplog.0000000002
MSSQL/db/.system/instance_id
MSSQL/db/.system/system/lsa.hiv
MSSQL/db/.system/system/security.hiv
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.json
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.txt
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/core.sqlservr.9.gdmp
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/crash.json
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/crash.txt
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/bin/sqlservr
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/etc/crash_id.txt
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/etc/instance_id.txt
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/etc/version.txt
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libasn1.so.8
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libatomic.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libaudit.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libc.so.6
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libcap-ng.so.0
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libcom_err.so.2
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libcrypt.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libcrypto.so.1.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libdb-5.3.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libdl.so.2
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libffi.so.7
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libgcc_s.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libgmp.so.10
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libgnutls.so.30
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libgssapi_krb5.so.2
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libgssapi.so.3
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libhcrypto.so.4
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libheimbase.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libheimntlm.so.0
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libhogweed.so.5
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libhx509.so.5
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libidn2.so.0
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libk5crypto.so.3
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libkeyutils.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libkrb5.so.3
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libkrb5.so.26
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libkrb5support.so.0
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/liblber-2.4.so.2
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libldap_r-2.4.so.2
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/liblzma.so.5
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libm.so.6
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libnettle.so.7
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libnss_files.so.2
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libnuma.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libp11-kit.so.0
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libpam.so.0
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libpthread.so.0
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libresolv.so.2
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libroken.so.18
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/librt.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libsasl2.so.2
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libsqlite3.so.0
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libssl.so.1.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libsss_nss_idmap.so.0
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libtasn1.so.6
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libudev.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libunistring.so.2
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libuuid.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib/x86_64-linux-gnu/libwind.so.0
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/lib64/ld-linux-x86-64.so.2
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/opt/mssql/lib/libc++.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/opt/mssql/lib/libc++abi.so.1
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/opt/mssql/lib/libunwind.so.8
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/usr/lib/x86_64-linux-gnu/libthread_db-1.0.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/usr/lib/x86_64-linux-gnu/sasl2/libanonymous.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/usr/lib/x86_64-linux-gnu/sasl2/libcrammd5.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/usr/lib/x86_64-linux-gnu/sasl2/libdigestmd5.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/usr/lib/x86_64-linux-gnu/sasl2/libgs2.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/usr/lib/x86_64-linux-gnu/sasl2/libgssapiv2.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/usr/lib/x86_64-linux-gnu/sasl2/liblogin.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/usr/lib/x86_64-linux-gnu/sasl2/libntlm.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/usr/lib/x86_64-linux-gnu/sasl2/libplain.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/usr/lib/x86_64-linux-gnu/sasl2/libsasldb.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/lib/usr/lib/x86_64-linux-gnu/sasl2/libscram.so
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/log/dmesg.tail.txt
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/log/filelist.txt
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/log/info.log
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/log/journalctl.sql.txt
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/log/journalctl.tail.txt
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/log/paldumper-debug.log
MSSQL/db/log/core.sqlservr.04_05_2023_09_49_55.9.d/log/thread_information.log
